.models > radio,
.users > listitem,
.login:not([disabled]) {
  cursor: pointer;
}

.right-box {
  margin-left: 0.7em;
}

.users > listitem {
  padding: 0.5em 0.2em;
}

.login {
  margin-top: 0.7em;
  padding: 0.5em 0;
}

.button-icon {
  margin-right: 0.5em;
}
