tab {
  padding-top: 0.4em;
  padding-right: 0.8em;
  padding-bottom: 0.1em;
  padding-left: 0.8em;
}

tabpanel {
  padding-top: 1.2em;
  padding-right: 0.7em;
  padding-bottom: 1.2em;
  padding-left: 0.7em;
}

checkbox, radio, button, tab, .cycle-header {
  cursor: pointer;
}

/* コピーできるラベルとして利用 */
textbox[readonly="true"] {
  -moz-appearance: none;
  -moz-user-focus: ignore !important;
  border: none !important;
  background-color: transparent !important;
}

.resize > resizer {
  cursor: se-resize;
}

.unequal-sep {
  margin-top: 0.6em;
  margin-right: 0;
  margin-bottom: 1.5em;
  margin-left: 0;
}

.equal-sep {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
}

.tag-provider {
  margin-top: 0.7em;
}

.tag-auto-complete {
  margin-top: 0.7em;
  margin-right: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
}

.ignore-error-example {
  margin-top: -0.3em;
}

#posters {
  width: 48em;
}

#posters > treecols > treecol > hbox {
  -moz-box-align: center;
  -moz-box-pack: center;
  width: 3.5em;
  /* Macで列ヘッダーの高さが広がらない問題に対応 */
  height: 3.5em;
}

#posters > treechildren::-moz-tree-image,
.tag-provider > radiogroup .radio-icon {
  height: 16px;
  width: 16px;
}

#posters > treechildren::-moz-tree-image,
#posters > treechildren::-moz-tree-cell-text {
  margin-left: 0.5em;
}

#posters > treechildren::-moz-tree-row {
  height: 2.5em !important;
}

#posters > treechildren::-moz-tree-image(default) {
  list-style-image: url("chrome://tombfix/skin/default.png");
}

#posters > treechildren::-moz-tree-image(enabled) {
  /* 透明度の設定はできない */
  list-style-image: url("chrome://tombfix/skin/enabled.png");
}

#posters > treechildren::-moz-tree-image(disabled) {
  list-style-image: url("chrome://tombfix/skin/disabled.png");
}

/* 選択行のハイライトを無効に */
#posters > treechildren::-moz-tree-cell-text(selected) {
  font-weight: normal !important;
  color: inherit !important;
}

#posters > treechildren::-moz-tree-row(selected, current, focus),
#posters > treechildren::-moz-tree-row(current, focus),
#posters > treechildren::-moz-tree-row(selected, focus),
#posters > treechildren::-moz-tree-row(selected) {
  border-color: transparent !important;
  background-color: -moz-Field !important;
  background-image: none !important;
}

/* 交互に色分けし見やすく */
#posters > treechildren::-moz-tree-row(selected, even),
#posters > treechildren::-moz-tree-row(even) {
  background-color: #F3F3F3 !important;
}
