tab {
  padding-top: 0.4em;
  padding-right: 0.8em;
  padding-bottom: 0.1em;
  padding-left: 0.8em;
}

tabpanel {
  padding-top: 1.2em;
  padding-right: 0.7em;
  padding-bottom: 1.2em;
  padding-left: 0.7em;
}

tab, .cycle-header, checkbox, menulist, button {
  cursor: pointer;
}

/* コピーできるラベルとして利用 */
textbox[readonly="true"] {
  -moz-appearance: none;
  -moz-user-focus: ignore !important;
  border: none !important;
  background-color: transparent !important;
}

.main,
.main tabbox,
.main tabpanels,
.cycle-header,
.post-config > tree > treechildren,
.main tabpanels > tabpanel > grid,
.main tabpanels > tabpanel > grid > columns > column + column,
.data-dir > textbox {
  -moz-box-flex: 1;
}

.main tabpanels > tabpanel > grid > columns > column {
  -moz-box-align: end;
  -moz-box-pack: end;
}

.main tabpanels > tabpanel:not(.post) > grid > columns > column {
  -moz-box-orient: horizontal;
}

.has-labels,
.post > grid > rows > row {
  -moz-box-align: center;
}

.accesskey-share textbox {
  width: 62px;
}

textbox.small-size {
  width: 142px;
}

textbox.medium-size {
  width: 429px;
}

.unequal-sep {
  margin-top: 0.6em;
  margin-right: 0;
  margin-bottom: 1.5em;
  margin-left: 0;
}

.equal-sep {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
}

.tag-auto-complete {
  margin-top: 0.7em;
  margin-right: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
}

.ignore-error-example {
  margin-top: -0.3em;
}

.resize {
  -moz-box-flex: 1;
  -moz-box-pack: end;
}

.resize > resizer {
  cursor: se-resize;
}

.post-config > tree {
  width: 48em;
}

.post-config > tree > treecols > treecol > hbox {
  -moz-box-align: center;
  -moz-box-pack: center;
  width: 3.5em;
  /* Macで列ヘッダーの高さが広がらない問題に対応 */
  height: 3.5em;
}

.post-config > tree > treechildren::-moz-tree-image,
.tag-provider > menulist .menulist-icon {
  width: 16px;
  height: 16px;
}

.post-config > tree > treechildren::-moz-tree-image,
.post-config > tree > treechildren::-moz-tree-cell-text {
  margin-left: 0.5em;
}

.post-config > tree > treechildren::-moz-tree-row {
  height: 2.5em !important;
}

.post-config > tree > treechildren::-moz-tree-image(default) {
  list-style-image: url("chrome://tombfix/skin/default.png");
}

.post-config > tree > treechildren::-moz-tree-image(enabled) {
  /* 透明度の設定はできない */
  list-style-image: url("chrome://tombfix/skin/enabled.png");
}

.post-config > tree > treechildren::-moz-tree-image(disabled) {
  list-style-image: url("chrome://tombfix/skin/disabled.png");
}

/* 選択行のハイライトを無効に */
.post-config > tree > treechildren::-moz-tree-cell-text(selected) {
  font-weight: normal !important;
  color: inherit !important;
}

.post-config > tree > treechildren::-moz-tree-row(selected, current, focus),
.post-config > tree > treechildren::-moz-tree-row(current, focus),
.post-config > tree > treechildren::-moz-tree-row(selected, focus),
.post-config > tree > treechildren::-moz-tree-row(selected) {
  border-color: transparent !important;
  background-color: -moz-Field !important;
  background-image: none !important;
}

/* 交互に色分けし見やすく */
.post-config > tree > treechildren::-moz-tree-row(selected, even),
.post-config > tree > treechildren::-moz-tree-row(even) {
  background-color: #F3F3F3 !important;
}
